table {
	border: 2px solid black;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

tr, td, th {
	padding-left: 5px;
	padding-right: 5px;
	border-collapse: collapse;
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	padding: 2px;
	width: 100%;
}

th {
	background-image: linear-gradient(to right, grey, lightgrey);
}

td {
	background-image: linear-gradient(to right, lightgrey, white);
}

img {
	width: 30%;
	border: 2px solid black;
	border-radius: 10px;
}

.mypicture {
	width: 40%;
	border: 2px solid black;
	border-radius: 10px;
	background-image: linear-gradient(to right, lightgrey, white);
	padding: 10px;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

body {
	background-color: #fff4b5; /* #a1a1a1; */
	width: 75%;
	margin: 20px auto;
	padding: 30px;
	border: 2px solid black;
	box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.3);
}

h2 {
	border: 2px solid black;
	background-image: linear-gradient(to right, #1d3e75, white);
	padding-left: 5px;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

hr {
	border: 1px solid black;
}

h1 {
	font-family: 'Rock Salt';
	color: #2d0c75;
	text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

html {
	/* background-image: linear-gradient(#636363, #990000); */
	background-color: #667fb0;/*#990000; */
	background-image: linear-gradient(to top, #667fb0, #381f6b)
}
